.galeria_section {
  width: 100%;
  height: auto;
  background-color: aquamarine;
}
.galeria_section .item:hover {
  transform: scale(1.05);
  transition: all 0.9s;
  box-shadow: 2px 2px 5px #333;
}
.galeria_section .item {
  height: 200px;
  border: 5px solid black;
  margin: 20px;
}
.galeria_section .item1 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/1.jpg);
}
.galeria_section .item2 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/2.jpg);
}
.galeria_section .item3 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/3.jpg);
}
.galeria_section .item4 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/4.jpg);
}
.galeria_section .item5 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/5.jpeg);
}
.galeria_section .item6 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/6.jpg);
}
.galeria_section .item7 {
  background-size: cover;
  background-position: center;
  background-image: url(/img/7.jpg);
}

.box_div i {
  cursor: pointer;
}

.box_head {
  height: auto;
  width: 100%;
  background-color: aquamarine;
  font-size: 150%;
  padding: 10px;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 800;
  text-shadow: 2px 2px 5px #333;
  text-transform: capitalize;
}

h3 {
  color: black;
  text-align: center;
  text-shadow: 2px 2px 5px #333;
}

.box_div {
  height: auto;
  background-color: aqua;
  padding: 100px 100px;
  border: 5px solid white;
  font-size: 200%;
  text-align: center;
}

.a {
  color: white;
  text-align: center;
}

.footer_1 {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.contacto {
  width: 100%;
  height: 450px;
}

.redes {
  width: 100%;
  min-height: auto;
  padding: 20px;
  cursor: pointer;
}

.footer_1 form {
  background-color: aqua;
  color: white;
  text-align: left;
}

.footer_1 label {
  font-size: 25px;
}

.footer_1 div {
  background-color: aqua;
  color: white;
  text-align: center;
}

.footer_1 i {
  font-size: 40px;
  letter-spacing: 10px;
  color: black;
}

.footer_1 p {
  font-size: 25px;
  color: black;
}
